/**
 *  Global
*/
$gutter: 30px;
$accent: #f5284f;

/**
 *  Transitions
*/
$transition-duration: 0.25s;
$transition-timing: ease;

/**
 *  Neutrals
*/

$black: #000;
$white: #fff;

/**
 *  Grays
*/
$gray-lightest: #eee;
$gray-light: #ccc;
$gray-med: #555;
$gray-dark: #333;
$gray-darker: #222;
$gray-darkest: #111;

/**
 *  Variants
*/

$variant-light-bg: $gray-lightest;
$variant-light-color: $gray-darkest;

$variant-dark-bg: $gray-darkest;
$variant-dark-color: $gray-lightest;

$variants: ('light', 'dark');

$variant-bg: (
  'light': $variant-light-bg,
  'dark': $variant-dark-bg
);

$variant-overlay-bg: (
  'light': $black,
  'dark': $black
);

$variant-color: (
  'light': $variant-light-color,
  'dark': $variant-dark-color
);

$variant-shadow-opacity: (
  'light': 0.2,
  'dark': 0.4
);

/**
 *  Z-index
*/
$zindex-offcanvas: 1050;
$zindex-overlay: $zindex-offcanvas - 1;

/**
 *  Overlay
*/
$overlay-trans-duration: $transition-duration;

/**
 *  Close btn
*/
$close-btn-size: $gutter;
$close-btn-thickness: 2px;

/**
 *  Sliding Panel
*/
$slidingpanel-trans-duration: $transition-duration;
$slidingpanel-shadow: 0 0 $gutter;
$sliding-panel-padding: $gutter;
$sliding-panel-width: 300px;
$sliding-panel-positions: ('left', 'right');
$sliding-panel-offsets: (
  'left': -$sliding-panel-width,
  'right': $sliding-panel-width
);

/**
 *  Burger
*/
$burger-padding-x: $gutter/2;
$burger-padding-y: $gutter/2;
$burger-layer-width: $gutter;
$burger-layer-height: 1px;
$burger-layer-spacing: 7px;
$burger-layer-color: $accent;
$burger-layer-border-radius: 0;
$burger-hover-opacity: 1;
$burger-active-layer-color: $burger-layer-color;
$burger-active-hover-opacity: $burger-hover-opacity;
$burger-hover-use-filter: false;
$burger-hover-filter: opacity(50%);
$burger-active-hover-filter: $burger-hover-filter;
